body {
  background-color:blanchedalmond
}
.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9rem;
  font-weight: 800;
  color: #000000dd;
}

.comments {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  font-size: 0.85rem;
}
.comments li {
  margin: 2px 0;
  letter-spacing: 0.2px;
}
.comment-form {
  width: 100%;
  border-top: 1px solid #00000020;
  padding: 10px;
  margin-top: 10px;
}
.comment-input {
  width: 83%;
  border: none;
  font-size: 0.8rem;
}

.comment-input:focus {
  outline: none;
}

.likes-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.dislike:hover,
.like:hover {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.active {
  color: #2EBDD1;
}
.comment-button:hover {
  color: rgb(37, 68, 245);
}

.comment-button:active {
  color: rgb(127, 146, 250);
}

.comment-button:focus {
  outline: none;
}
.logo {
  margin-bottom: 20px;
  justify-content: left;
  width: 90px;
}
.image {
  width: 500px;
  
}
.image-card {
  width: 500px;
}

